body {
    background-color: #C0C0C0;

}

a{
    padding-right: 20px;
    font-size:larger; 
    font-weight: lighter;

}



.nav {
    display: flex;
    color: black;
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    width: 100%;
    justify-content: space-between;
}

.forreal {
    align-content: flex-start;
}

.bulletpoint {
    font-family: 'Bebas Neue', cursive;
}

.card {
    padding: 50px;
    background-color:pink;
    margin-right: 10px;
   flex-direction: row;
    text-align: center;
    width: 200px;
    border: 5px solid black;
  }
  

#areacontainer {
    
    display: flex;
    justify-content: right;
    margin: 10px auto auto 50px;
    width: 1855px;
    padding: 88px;
    padding-right: 45px;
}





