body {
    background-color: #C0C0C0;
}

a{
    padding: auto;
    padding-top: 0%;
    padding-right: 20px;
    font-size:larger; 
    font-weight: lighter;
    float: right;
}

.nav {
    color: black;
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    width: 100%;
    padding: 
}

.forreal {
    float: left;
}

.bulletpoint {
    font-family: 'Bebas Neue', cursive;
}

.card {
    padding: 50px;
    background-color:white;
    margin-right: 10px;
    margin-top: 233px;
    float: right;
    text-align: center;
    width: 200px;
    border: 5px solid black;

  }
  

#areacontainer {
    float: right;
    display: inline-block;
    margin: 10px auto auto 50px;
    width: 1855px;
    padding: 88px;
    padding-right: 45px;
}

